extends base/layout.pug
block title
  title Homepage 3
block header
  - var page = 'home'
  include components/header.pug
block content
  .container
    .blog-masonry-sidebar
      .row
        .col-12.col-md-5.col-lg-4.order-md-2
          include ./components/blog_sidebar.pug
        .col-12.col-md-7.col-lg-8.order-md-1
          .blog-masonry.blog-masonry-sidebar__content
            each post in POST_DATA_REGULAR.slice(0,4)
              +post_card_default(post.image, post.category, post.title, post.date, post.comment, '-center')
            each post in POST_DATA_REGULAR.slice(3,4)
              +post_card_default(post.image, post.category, post.title, post.date, post.comment, '-video -center', 'video')
            each post in POST_DATA_SLIDE.slice(0,1)
              +post_card_default(post.image, post.category, post.title, post.date, post.comment, '-center', 'slide')
            each post in POST_DATA_REGULAR.slice(5,9)
              +post_card_default(post.image, post.category, post.title, post.date, post.comment, '-center')
          .center
            a.btn.-normal.load-more-btn(href="#") Load more posts
  include components/instagrams.pug 
block footer
  include components/footer.pug
