.subcribe-bar
  .row
    .col-12.col-md-6
      .subcribe-bar__content
        h5 Don’t miss our future updates!
        h3 Get Subscribe today!
    .col-12.col-md-6
      form(action="/").subcribe-bar__form
        input(type="text" placeholder="You email")
        button.btn.-normal Subcribe  