form(action="/" method="POST" class=(theme === 'blue' ? 'subcribe-box -theme--blue' : theme === 'violet' ? 'subcribe-box -theme--violet' : theme === 'yellow' ? 'subcribe-box -theme--yellow' : 'subcribe-box')).subcribe-box
  h5 Subcribe
  p Lorem ipsum dolor amet, consectetur adipiscing elit, sed tempor.
  input(placeholder="Your email" name="email" type="email")
  a.btn.-normal(href="#") Subcribe