//build:js assets/js/main.min.js
script(rel="script/javascript" src="assets/js/jquery.min.js")
script(rel="script/javascript" src="assets/js/slick.min.js")
script(rel="script/javascript" src="assets/js/plyr.min.js")
script(rel="script/javascript" src="assets/js/masonry.pkgd.min.js")
script(rel="script/javascript" src="assets/js/imagesloaded.pkgd.min.js")
script(rel="script/javascript" src="assets/js/vimeo.player.min.js")
script(rel="script/javascript" src="assets/js/main.js")
//endbuild